#job-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    width: 70%;
    margin: 0 auto;
}

#logo {
    padding: 2rem;
}

#info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#categories {
    width: 40%;
    text-align: right;
    padding-right: 2rem;
}