span {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

button {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    margin: 0 0.3rem;
    padding: 0.5rem;
    background-color: hsl(180, 31%, 95%);
    border-radius: 5px;
    border: none;    
}

#job-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 20px hsl(180, 8%, 52%);
}

#logo {
    padding: 2rem;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 88px;
}

#first-line span:not(:last-child) {
    margin-right: 0.5rem;
}

#new {
    font-size: 12px;
    background-color: hsl(180, 29%, 50%);
    color: white;
    border-radius: 15px;
    padding: 0.5rem;
}

#featured {
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.5rem;    
}

#categories {
    width: 50%;
    text-align: right;
    margin-right: 2rem;
}

.featured-job {
    border-left: 6px solid hsl(180, 29%, 50%);
}

.cyan-text {
    color: hsl(180, 29%, 50%);    
}

.dark-cyan-text {
    color: hsl(180, 8%, 52%);
}