img {
    width: 100%;
    min-height: 170px;
}

span {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
}

button {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;    
    background-color: transparent;
    color: hsl(180, 8%, 52%);
    border: none;
}

#app {
    background-color: hsl(180, 52%, 96%);
}

/* LAYOUT */

#bg {
    max-height: 170px;
    background-color: hsl(180, 29%, 50%);
}

#job-list {
    margin-top: 3rem;
}

#job-list:last-child {
    padding-bottom: 3em;
}

#filters {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 144px;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
}

#filters > * {
    margin: 1rem 2rem;
}

#filterTablets {
    display: flex;
}

/* EVENTS */

button:hover {
    border-bottom: 1px solid hsl(180, 29%, 50%);
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}