img {
    width: 100%;
    min-height: 170px;
}

#app {
    background-color: hsl(180, 52%, 96%);
}

#bg {
    max-height: 170px;
    background-color: hsl(180, 29%, 50%);
}

#job-list {
    margin-top: 3rem;
}

#job-list:last-child {
    padding-bottom: 3em;
}