img {
    width: 100%;
    min-height: 170px;
}

span {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
}

#clear-filters-button {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;    
    background-color: transparent;
    color: hsl(180, 8%, 52%);
    padding: 0;
    border: none;
}

.remove-filter-button {
    font-family: "League Spartan", sans-serif;
    font-weight: 700; 
    background-color: hsl(180, 29%, 50%);
    border: none;
    border-radius: 0 5px 5px 0;
    padding: .5rem .5rem;
    color: white;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: hsl(180, 52%, 96%);
}

/* LAYOUT */

#bg {
    max-height: 170px;
    background-color: hsl(180, 29%, 50%);
}

#job-list {
    margin-top: 3rem;
}

#job-list:last-child {
    padding-bottom: 3em;
}

#filters {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 144px;
    left: 15%;
    width: 70%;
    border-radius: 5px;
    background-color: white;
}

#filters > * {
    margin: 1rem 2rem;
}

#filterTablets {
    display: flex;
    flex-wrap: wrap;
}

#filterTablets span {
    padding: .5rem .5rem;
    border-radius: 5px 0 0 5px;
}

#filterTablets > * {
    margin-right: .5rem;
}

/* EVENTS */

#clear-filters-button:hover {
    border-bottom: 1px solid hsl(180, 29%, 50%);
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}